@model ResetPasswordModel
@{
    ViewData["Title"] = "Reset Password";
}
<form asp-action="ResetPassword" asp-controller="Home" class="box" style="top:0px !important; left:30%!important;">
    <h1>Reset Password</h1>
    <p class="text-muted">Please enter your new password.</p>
    <div asp-validation-summary="All" class="text-danger"></div>
    <input type="hidden" asp-for="Token" />
    <input type="hidden" asp-for="Email" />

    <input type="password" asp-for="Password" placeholder="New Password">
    <input type="password" asp-for="ConfirmPassword" placeholder="Confirm New Password">

    <input type="submit" value="Reset Password">
</form>

